<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <img
          src="https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class=" w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; height: 200px;"
          alt="Registration" />
        <div class="card-body p-4 p-md-5">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>

          <form name="regForm" class="px-md-2" action="/register" method="POST">
            <div class="alert alert-danger" id="errorAlert" role="alert">
              {{#if errors}}
              {{errors}}
              {{/if}}
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="fname" name="fname" class="form-control" required />
              <label class="fname" for="fname">First Name</label>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="lname" name="lname" class="form-control" required />
              <label class="lname" for="lname">Last name</label>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="organizationName" name="organizationName" class="form-control" />
              <label class="form-check-label" for="organizationName">Organization Name:</label>
            </div>
            <div class="alert alert-danger" id="nameAlert" role="alert"></div>
            <div class="form-outline mb-4">
              <input type="email" id="email" name="email" class="form-control" required />
              <label class="email" for="email">Email</label>
            </div>

            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="form-outline">
                  <input type="password" class="form-control" name="password" id="password" required />

                  <label for="password" class="form-label">Password</label>
                  <button onclick="viewPassword()" type="button" class="btn btn-primary px-3">
                    <i class="bi bi-eye-slash" id="eyeButton" aria-hidden="true">
                    </i></button>
                </div>

              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="password" class="form-control" name="passwordCheck" id="passwordCheck" required />
                  <label for="passwordCheck" class="form-label">Re-enter password</label>
                </div>

              </div>
              <div class="alert alert-danger" id="passwordAlert" role="alert"></div>
              <div class="alert alert-danger" id="emailAlert" role="alert"></div>
              <small id="passwordHelpBlock" class="form-text text-muted mb-3">
                Your password must be 6-20 characters long, and must not contain spaces, special characters, or any
                emojis.
              </small>
            </div>

            <button type="submit" class="btn btn-primary mb-1" id="submitBtn" value="Register">Register</button>
            <a href="/login" class="text-decoration-none">
              <h3 class="pt-3">Existing user? Log in now!</h3>
            </a>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="regValidation.js"></script>